@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;

}
*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
  padding: 0;
}

.img-v {
  width: 100%;
  display: block;
  padding-bottom: 1em;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.top {
  color: blue;
  padding-top: 1em;
}


header {
  background-color: grey;
}

.explor {
  background-color: lightgrey;
  text-align: center;
}

.grid {
  overflow: hidden;
}

.figcap {
  padding: 0 0 1em 0;
  margin: 0;
}

.footer {
  background-color: grey;
  overflow: hidden;
  width: 100%;
}

.navigat {
  overflow: hidden;
}

.navigat h1 {
  padding-left: 1em;
}

.navigat a{
  text-decoration: none;
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
  }

.navigat a:hover {
  background-color: blue;
  color: white;
  }

.navigat-two {
  padding-left: 1em;
  background-color: grey;
  padding-bottom: 1em;
}

.navigat-two p{
  padding-top: 1em;
}

.navigat-two a{
  text-decoration: none;
  display: block;
}

.moon-title {
  text-align: center;
  background-color: lightgrey;
  padding-top: 2em;
  margin-bottom: 1em;
}

.subheader {
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 1em;
}

.p-one h2 {
  padding-left: 1em;
  padding-right: 1em;
}

.p-one p {
  padding-left: 1em;
  padding-right: 1em;
}

.three {
  background-color: lightgrey;
}

.unit {
  padding: 0;
}

.three p {
  padding-left: 1em;
  padding-right: 1em;
}

.list h3 {
  padding-left: 1em;
}

.list dd{
  margin: 0;
}

.list dt{
  padding-top: 1em;
}

.list ol{
  padding-left: 1em;
  margin: 0;
}

.list-two dd{
  margin: 0;
}

.list-two ol{
  padding: 0;
}

.fake {
  padding-left: 1em;
}

.fake-two {
  padding-left: 1em;
}


@media only screen and (min-width: 15em) {

header h1 {
  text-align: center;
}

header p {
  text-align: center;
}


}

@media only screen and (min-width: 28em){

.navigat a{
  display: inline-block;
  padding-right: 1em;
  }

.navigat {
  text-align: center;
}

.navigat-two a{
  display: inline-block;


}

@media only screen and (min-width: 38em) {

header h1 {
  text-align: left;
}

header p {
  text-align: left;
}

.navigat {
  text-align: left;
}

.navigat a {
  padding-top: 2em;
}

.navigat-two a{
padding-top: 2em;

}


}
